@model Mvc4ApplicationDemo.Models.StudentsModel

@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Careers</h2>
<h2>Job Description</h2>
<p>
    Saviant is expanding at a fast pace and is looking for like-minded professionals to join the team to cater to it's ever growing list of clients.

    <label>Quality Assurance & Testing Expert</label>
    <br />
    Location: Pune
    <br />
    Positions: 2 open, Open since: 30th Aug 13
    <br />
    <br />
    <br />
    <label>Team Leader/ Project Manager</label>

    Location: Pune
    <br />
    Positions: 2 open, Open since: 30th Aug 13
    <br />
    Technology: M'soft Technologies/ Windows Azure/ ASP.Net   
</p>
<br />*@
@using(Html.BeginForm("submit","Home"))
{
     @Html.ValidationSummary()
      <fieldset>
        <legend>Form</legend>
    <div>
      @Html.Label("First Name")
     
        @Html.TextBoxFor(model=>model.FirstName)
        @Html.Label("Last Name")
        @Html.TextBoxFor(model=>model.LastName)
        @Html.Label("Qualification")
        @Html.TextBoxFor(model=>model.Qualification)
        @Html.Label("Skills")
        @Html.TextBoxFor(model=>model.Skill)
        @Html.Label("Experience")
        @Html.TextBoxFor(model=>model.Experience)
        <input type="submit" value="Save" />
         
    </div>
         @if (ViewData["Message"] != null)
         { 
             <div>"You have Registered sucessfully."</div>
         } else
         {
             <div>"Error occured while Registration.Please Try Again"</div>
         }

      </fieldset>
}
